body {
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.digits, .input-field {
    position: absolute;
    top: 0;
}

.digits {
    width: 0px;
    display: inline-block;
    right: 50%;
    white-space: nowrap;
    transition: width 0.5s ease;
}

.input-field {
    opacity: 0;
    width: 100%;
    height: 100%;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}